*{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.brand-logo{
    height: 200px;
    width: 200px;
}

header {
    background-color: #262626;
    padding: 20px;
    text-align: center;
    color: #fff;
}

nav {
    background-color: #fff;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #b6b6b6;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

h1, h2{
    color: #262626;
}

@media only screen and (max-width: 600px) {
    section {
        padding: 10px;
    }
}

footer{
    margin-bottom: 0;
    text-align: center; 
    background-color: #262626;
}


li{
    margin: 15px;
}

section h2{
    bottom: 5px;
}

.brand-logo{
    width: 200px;
    height: 200px;
}

.social-logo {
    margin-right: 5px;
    margin-left: 50px;
    height: 30px;
    width: 30px;
}

.values{
    margin-top: 5px;
    text-align: center;
}

ul{
    list-style: none;
}

.values li{
    text-align: justify;
    margin-right: 500px;
    margin-left: 500px;
}

.row{
    text-align: justify;
}
